@import "../node_modules/normalize.css";
@import "../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #CED9E0;
  height: 100vh;
  &.bp3-dark {
    background-color: #293742;
  }
}

$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';
#{$a-tags} .navButton {
  text-decoration: none;
  color: #182026 !important;

  .bp3-dark & {
    color: #f5f8fa !important;
  }
}

.mainElement {
  background-color: #F5F8FA;
  box-shadow: 0 0 0 1px rgba(16,22,26,.15), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0);
  .bp3-dark & {
    background-color: #30404D;
    box-shadow: 0 0 0 1px rgba(16,22,26,.4), 0 0 0 rgba(16,22,26,0), 0 0 0 rgba(16,22,26,0)
  }
}
